# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py

# Node
node_modules/

# Build files
dist/
build/

# OS Files
.DS_Store
Thumbs.db